//colors
$white: #FFFDFA;
$platinum: #E5E5E5;
$coolgrey: #8B8BAE;
$blue: #1985A1;
$pink: #E56399;
$orange: #FC6B0A;
$jet: #363636;
$black: #232B2B;

//quicklist, colors lightest to darkest
$c1: $white;
$c2: $platinum;
$c3: $coolgrey;
$c4: $blue;
$c5: $pink;
$c6: $orange;
$c7: $jet;
$c8: $black;

