@import "variables";
@import "mixins";
@import "globals";
@import "reset";

body {
  background-color: $jet;
  height: 100vh;
  width: 100vw;
  cursor: default !important;
}

* {
  transition-duration: 1s;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i");

main {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: $jetAA;
  cursor: pointer;
}

main.inactive {
  flex-direction: column;
  width: 140px;
  height: 100vh;
  z-index: 2;
  justify-content: space-evenly;
  box-shadow: inset -8px 0 5px $jet, inset -15px 0 10px $jetAA;
  transition-duration: all 0.5s, translate 0s;
  padding-bottom: 50vh;
}

main.inactive:hover {
  box-shadow: 0 5px 5px $white, inset -8px 0 5px $jet, inset -15px 0 10px $jetAA;
  padding-bottom: 0;
  width: 200px;
}

main.inactive * {
  padding: 0;
  margin: 0;
  top: 0;
  border: 0;
  transition-duration: transform 0s, box-shadow 0.5s;
}

main.inactive .imgBx {
  transform: scale(0.5) translateX(-100%);
  top: 0;
}

main.inactive:hover .imgBx {
  transform: scale(1) translateX(-50%);
}

main.inactive:hover .arrow-wrap {
  filter: drop-shadow(5px 0 3px $white);
  transition-duration: 1s;
}

main.inactive .arrow-wrap {
  position: absolute;
  top: calc(50% - 25px);
  right: -38px;
  z-index: -1;
}

main.inactive .arrow {
  height: 64px;
  width: 40px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: $jet;
}

main:not(.inactive) {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 60vh;
}

main.inactive:hover .imgBx {
  pointer-events: all;
}

main.inactive section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 0;
  bottom: 0;
  height: 150px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  margin: 50px 25px 30px 25px;
  pointer-events: none;
  flex-grow: 40%;
  background-color: $platinumAA;
}

main:not(.inactive) .card:hover {
  border: 3px solid $orangeAA;
}

main:not(.inactive) .card {
  min-width: 500px;
  pointer-events: all;
}

main:not(.inactive) .card:hover {
  height: 300px;
  margin-top: 100px;
  margin-bottom: 60px !important;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 5px 15px $jetAA;
  transition: all 0.5s, transform 0s, box-shadow 0s;
  background-size: cover;
  transform-style: preserve-3d;
  transform-origin: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#ryan.imgBx {
  background-image: url("../cesarPics/ryan.jpg");
}

#john.imgBx {
  background-image: url("../cesarPics/john.jpg");
}

#brandon.imgBx {
  background-image: url("../cesarPics/brandon.jpg");
}

#gma.imgBx {
  background-image: url("../cesarPics/gma.jpg");
}

main:not(.inactive) .card:hover .imgBx {
  width: 180px;
  height: 180px;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  perspective: 600px;
}

.card .content .msg {
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transition-duration: 0.5;
  bottom: 0;
  transform-style: preserve-3d;
  transform-origin: center right;
  opacity: 0;
  font-family: $body-font;
  border-radius: 10px;
  padding: 10px;
}

main:not(.inactive) .card:hover .content .msg {
  opacity: 1;
}

main:not(.inactive) .card.is-flipped:hover .content .msg {
  transform: translateX(-100%) rotateY(-180deg);
}

.card .content .name-tag {
  font-size: 30pt;
  line-height: 30pt;
  font-family: $title-font;
  width: 100%;
  height: fit-content;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  transition-duration: 0.7s;
  text-shadow: 1px 1px 5px $whiteAA;
}

main:not(.inactive) .card:hover .content .name-tag {
  top: 0;
  margin-top: 0;
  column-gap: 250px;
}

main:not(.inactive) .card:hover .content .name-tag span {
  width: min-content;
  display: flex;
  align-items: center;
  height: 100px;
}

main:not(.inactive) .card.is-flipped .msg {
  transform: translateX(-100%) rotateY(-180deg);
}

.card .msg .face {
  position: absolute;
  width: calc(100% - 20px);
  color: $jet;
  text-align: center;
  backface-visibility: hidden;
  padding: 10px;
  top: 90px;
  font-size: 20pt;
  font-style: italic;
  transition: all 0.7s, text-shadow 0s linear;
  transform: scaleY(0);
  display: flex;
  align-items: center;
}

main:not(.inactive) .card:hover .msg .face {
  border: 1px solid $jet;
  transform: scaleY(1);
  transform-origin: bottom;
  height: 200px;
  background-color: $white;
  border-radius: 5px;
}

.face.eng {
  text-shadow: 1px 1px 10px $blue;
}

.face.span {
  transform: rotateY(180deg);
  text-shadow: 1px 1px 10px $pink;
}

main:not(.inactive) .card:hover .msg .face.span {
  transform: rotateY(180deg) scaleY(1);
}

// message boxes
main.inactive .card .imgBx:hover::after {
  position: absolute;
  font-size: 20pt;
  font-family: $body-font;
  top: -25px;
  right: -600px;
  width: 530px;
  height: fit-content;
  background-color: $whiteAA;
  border: 3px solid $blueAA;
  border-radius: 40px;
  padding: 15px;
  transition: 0.7s ease-out;
  display: flex;
  align-items: center;
  text-align: justify;
  box-shadow: 5px 3px 10px $jetAA, 5px 3px 15px $jetAA;
}

main.inactive .card .imgBx:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: -62px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: $white;
  transition: 0.7s ease-out;
  border: 2px solid $blueAA;
}

main.inactive .card:hover::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -100px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $white;
  transition: 0.7s ease-out;
  border: 2px solid $blueAA;
}

main.inactive .card.is-flipped .imgBx:hover::after {
  top: 20%;
  border: 3px solid $pinkAA;
}

main.inactive .card.is-flipped .imgBx:hover::before {
  top: 70%;
  border: 2px solid $pinkAA;
}

main.inactive .card.is-flipped:hover::after {
  top: 70%;
  border: 2px solid $pinkAA;
}

main.inactive .card:not(.is-flipped) #brandon:hover::after {
  content: var(--b-eng);
}

main.inactive .card.is-flipped #brandon:hover::after {
  content: var(--b-span);
}

main.inactive .card:not(.is-flipped) #gma:hover::after {
  content: var(--g-eng);
}

main.inactive .card.is-flipped #gma:hover::after {
  content: var(--g-span);
}

main.inactive .card:not(.is-flipped) #john:hover::after {
  content: var(--j-eng);
}

main.inactive .card.is-flipped #john:hover::after {
  content: var(--j-span);
}

main.inactive .card:not(.is-flipped) #ryan:hover::after {
  content: var(--r-eng);
}

main.inactive .card.is-flipped #ryan:hover::after {
  content: var(--r-span);
}





:root {
  --side: #896c3b;
  --side-dark: #120e08;
  --lowlight: #111;
  --coin-size: 150px;
}

//animations
@keyframes spin {
  0% {
    width: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    width: 0.1rem;
    box-shadow: 0.05rem 0 0 var(--side), 0.1rem 0 0 var(--side),
      0.15rem 0 0 var(--side), 0.2rem 0 0 var(--side), 0.25rem 0 0 var(--side),
      0.3rem 0 0 var(--side), 0.35rem 0 0 var(--side), 0.4rem 0 0 var(--side),
      0.45rem 0 0 var(--side), 0.5rem 0 0 var(--side), 0.55rem 0 0 var(--side),
      0.6rem 0 0 var(--side), 0.65rem 0 0 var(--side), 0.7rem 0 0 var(--side),
      0.75rem 0 0 var(--side);
    transform: translateX(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    width: 0.1rem;
    box-shadow: -0.05rem 0 0 var(--side), -0.1rem 0 0 var(--side),
      -0.15rem 0 0 var(--side), -0.2rem 0 0 var(--side),
      -0.25rem 0 0 var(--side), -0.3rem 0 0 var(--side),
      -0.35rem 0 0 var(--side), -0.4rem 0 0 var(--side),
      -0.45rem 0 0 var(--side), -0.5rem 0 0 var(--side),
      -0.55rem 0 0 var(--side), -0.6rem 0 0 var(--side),
      -0.65rem 0 0 var(--side), -0.7rem 0 0 var(--side),
      -0.75rem 0 0 var(--side);
    transform: translateX(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    width: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
  }
}






//texts
:root {
  --b-eng: '"César, I hope you have a wonderful, relaxing time with your family on vacation. You all deserve it!"';
  --b-span: '"César, espero que tengas un tiempo maravilloso y relajante con tu familia de vacaciones. ¡Todos ustedes se lo merecen!"';
  --g-eng: '"We are so glad to have you as part of the family. Please have a great time on your trip and stay safe. We love you!"';
  --g-span: '"Estamos tan felices de tenerlo como parte de la familia. Por favor, pásenla bien en el viaje y cuídense mucho. ¡Lo queremos!"';
  --j-eng: '"Hi, my love, I am very happy that you and your family are able to go on this trip together. I love you so much!"';
  --j-span: '"Hola, amor mío, me alegro de que tú y tu familia sean capaces de realizar este viaje juntos. ¡Te quiero demasiado!"';
  --r-eng: '"Hi César! I hope you have a great trip with your family and take lots of pictures. Also congrats on your engagement!!"';
  --r-span: '"Hola César! Espero que tenga un gran viaje con tu familia y tome muchas fotos. !Felicidades por el compromiso!"';
}